{
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react-hooks/recommended"],
    "env": {
      "browser": true,
      "commonjs": true,
      "node": true,
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "modules": true,
        "jsx": true
      }
    },
    "parser": "babel-eslint",
    "rules": {
      "no-console": "off",
      "strict": ["error", "global"],
      "curly": "off",
      "eqeqeq": "off",
      "jsx-quotes": "off",
      "dot-notation": "off",
      "semi": "off",
      "quotes": "off",
      "no-floating-decimal": "off",
      "prettier/prettier": 0,
      "no-unused-vars": ["warn",{ "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
      "react/display-name": "off",
      "react/no-unescaped-entities": "off",
      "react/prop-types": "off",
      "no-debugger": "off",
      "react-hooks/rules-of-hooks": "error", 
      "react-hooks/exhaustive-deps": "warn"
    },
    "settings": {
      "react": {
        "version": "detect"
      },
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      }
    }
  }