.searchBar {
  display: flex;
  align-items: center;
  height: 10px;
  margin: 0px 10px;
  padding: 15px 10px;
  cursor: pointer;
  justify-content: space-between;
}
.searchBar .searchBarInput {
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}
.searchBar .searchBarInput::placeholder {
  color: #646464;
}
