.container {
  flex: 1;
  height: 0px;
}
.chatUserContainer {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.groupList,
.chatUserList,
.searchedUser {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.chatUserContainer .MuiTab-root {
  min-height: 35px;
  line-height: 0px;
}
.MuiTabs-scroller {
  height: 100%;
}
/* .chatUser__details p {
  color: #d5d9de;
} */

/* .chatUserContainer .Mui-selected {
  background-color: var(--chat-primary);
  color: var(--chat-white);
  font-weight: bold;
  box-shadow: none !important;
}
.chatUserContainer .MuiTabs-indicator {
  background-color: var(--chat-primary);
} */
.tabBtn {
  border-radius: 20px !important;
  width: 135px;
  height: 8px;
  padding: 15px 10px !important;
  /* border: 2px solid var(--chat-white) !important; */
}
