@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
.MessageWindowHeader {
  height: 10vh;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userStatus {
  font-size: 0.7rem;
  font-weight: 900;
  margin-top: 2px;
}
.userName p {
  color: #646464;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
}
.userName p:hover {
  opacity: 0.8;
}
