.onCallContainer,
.onCallingContainer {
  width: 100%;
  height:100%;
  position: relative;
  background: rgb(55 71 79 / 41%);
  backdrop-filter: blur(5px);
}

.userIconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.endCalBtn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.onAnswerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: var(--chat-black);
  padding: 20px;
}
