.messageTextContainer {
  width: 100%;
  height: 80vh;
  border-top: 1px solid #d5d9de;
  padding: 10px 50px;
  overflow: auto;
}
.noChat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dividerContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
.divider {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
.typing {
  width: auto;
  position: relative;
  /* margin-left: ; */
}
.loading {
  margin-left: 5px;
}
