.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__container {
  height: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__container img {
  height: auto;
  width: 100%;
}
.login__field {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  justify-content: space-around;
}
.loginBtn {
  width: 100%;
  margin: 30px 0px;
}
.password {
  display: flex;
  position: relative;
}
.visibleBtn {
  position: absolute;
  right: 0;
}
