@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
.chatUser {
  width: 100%;
  display: flex;
  margin: 15px 0px;
  padding: 6px;
  cursor: pointer;
}
.chatUser:hover {
  background: #f1f1f1;
}
.chatUser__picture {
  margin-right: 10px;
}
.chatUser__details h3 {
  font-size: 1rem;
}

.chatUser__details p {
  font-size: 0.9rem;
  color: #a5a5a5;
}
.unseenMsg .MuiBadge-colorPrimary {
  z-index: 0;
}
