.MessageWindowHeader {
  height: 10vh;
  padding: 0px 20px;
  color: #252423;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userStatus {
  display: flex;
  align-items: center;
}
.userStatus {
  font-size: 0.7rem;
  font-weight: bolder;
  margin-top: 2px;
}
.onlineStatus {
  width: 10px;
  height: 10px;
  background: #76d275;
  border-radius: 50%;
  margin-right: 5px;
}
