.groupName {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.groupName__header {
  margin: 30px 0px 20px 0px;
  font-size: 0.8rem;
}
.groupName__header h1 {
  font-weight: 400;
}
.groupNameModel__imageContainer {
  margin: 5px 0px 25px 0px;
}
.groupNameModel__imageContainer .groupProfile {
  height: 70px;
  width: 70px;
}
.groupNameModel__nameContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.groupNameModel__nameContainer .groupNameInputField {
  width: 80%;
  padding: 10px;
}
.groupNameModel__nextIconContainer {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.groupNameModel__prevIconContainer {
  position: absolute;
  top: 0%;
  left: 0%;
}
.groupNameModel__nextIconContainer .nextBtn {
  background-color: #d8ecf7;
  color: #000;
}

input[type="file"] {
  display: none;
}
